################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/OGA.Base/.vs/OGA.Base/v15/.suo
/OGA.Base/OGA.Base/obj/Debug
/OGA.Base/packages
/OGA.Base/OGA.Base/bin/Debug
/OGA.Base/.vs/OGA.Base/v15/Server/sqlite3
