################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/OGA.Base/.vs/OGA.Base/v15/.suo
/OGA.Base/OGA.Base/obj/Debug
/OGA.Base/packages
/OGA.Base/OGA.Base/bin/Debug
/OGA.Base/.vs/OGA.Base/v15/Server/sqlite3
/OGA.Base/OGA.BL.Base/obj/Debug
/bin
/OGA.Base/.vs/OGA.Base/DesignTimeBuild
/OGA.Base/OGA.BL/bin/Debug
/OGA.Base/OGA.BL/obj/Debug
/OGA.Base/OGA.BL.Base/bin/Debug
/OGA.Base/OGA.DA/bin/Debug
/OGA.Base/OGA.DA/obj/Debug
/OGA.Base/OGA.DA.Base/bin/Debug
/OGA.Base/OGA.DA.Base/obj/Debug
/OGA.Base/OGA.UI/bin/Debug
/OGA.Base/OGA.UI/obj/Debug
/OGA.Base/OGA.UI.Base/bin/Debug
/OGA.Base/OGA.UI.Base/obj/Debug
/OGA.Base/OGA.BI/bin/Debug
/OGA.Base/OGA.BI/obj/Debug
/OGA.Base/OGA.Utility/bin/Debug
/OGA.Base/OGA.Utility/obj/Debug
/sql
/OGA.Base/.vs/OGA.Base/v16/Server/sqlite3
/OGA.Base/.vs/OGA.Base/v16/.suo
