<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="event"
              xsi:type="File"
              encoding="UTF-8"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message} - ${callsite}() ${exception:format=tostring}"
              fileName="${basedir}/logs/event.log"
              archiveNumbering="Date"
              archiveFileName="${basedir}/logs/archive/{#}-event.log"
              archiveEvery="Day" archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="7"/>
      <target name="error"
              xsi:type="File"
              encoding="UTF-8"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message} - ${callsite}() ${exception:format=tostring}"
              fileName="${basedir}/logs/error.log"
              archiveNumbering="Date"
              archiveFileName="${basedir}/logs/archive/{#}-error.log"
              archiveEvery="Day" archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="7"/>
    </targets>
    <rules>
      <logger name="*" levels="Info,Warn" writeTo="event"/>
      <logger name="*" levels="Error,Fatal" writeTo="error"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>